body {
    display: flex;
    flex-direction: column; /* Display children in a column */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

    background-image: url('https://media.istockphoto.com/id/1301749427/video/an-ocean-sunset.jpg?s=640x640&k=20&c=1BANYbuwNPDwCpWYDSx21XhUe10bCcYpF8uAJWkuAMA=');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9; 
}

#userForm {
    width: 300px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; 
    margin-bottom: 20px; 
}

#submitbtn {
    margin-top: 10px; 
}

#users {
    width: 300px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center; 
}

.user-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd; /* Add a border between rows */
    padding: 10px; /* Add some padding for spacing */
}

.user-row p {
    margin: 0; /* Remove default margin for <p> element */
}
